.sidebar{
    display:flex;
    flex-direction:column;
    justify-content:start;
    align-items:center;
    position:fixed;
    top:54px;
    left:0px;
    bottom:0px;
    width:70px;
    background-color:white;
    padding-top:2px;
    z-index:1001;
}
.icon-div{
    width:70px;
    padding-top:15px;
    padding-bottom:15px;
    display:flex;
    flex-direction:column;
    justify-content:center;
    align-items:center;
    margin-top:0px;
    transition-duration: 0.15s;
    cursor:pointer;
}
.sidebar div:hover{
    background-color:rgba(171, 169, 169, 0.25);
}
.icon{
    height:25px;
    margin-bottom:8px;
}
.icon-name{
    font-size:10px;
    pointer-events:none;
}